include ./pug/mixins

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Khoa học công nghệ
  link(rel='stylesheet' href='../css/style.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&family=DM+Sans:opsz,wght@9..40,500&display=swap' rel='stylesheet')
  link(rel="stylesheet", href="../css/newsEvent.css")
  link(rel="stylesheet", href="../css/technology.css")
  link(rel="icon" href="./images/Logo VUI.PNG" type="image/icon type")
header
  .container-menu
    .logo-menu-div
      a.logo-menu(href='/')
        img(src='../images/Logo VUI.PNG', alt='logo')
    .news-div
      ul.menu
        li
          a(id = 'home', href="/") Trang chủ
        li
          a(id = 'newsEvent', href="/search_category?category='news'") Tin tức sự kiện
        li
          a(id = 'addmisions', href="/search_category?category='addmissions'") Tuyển sinh
        li
          a(id = 'technology', href="/search_category?category='technology'") Khoa học công nghệ
    
body 
  .container
    .header-category
      h2 Khoa học công nghệ

    //- section.newsTechnology-category
    //-   .list-newsTechnology 
    //-     +newsTechnology
    //-     +newsTechnology
    //-     +newsTechnology
    //-     +newsTechnology
    //-     +newsTechnology

    section.newsEvent1
      .list-news-event 
        each data in datas
          a(href= data.link, target="_blank").news
            img(src= data.main_image, alt="").news-image
            h3.news-title #{data.title}
            .news-item 
                img(src=data.publication_image , alt="").name-university
                span.news-time #{moment(data.date).format('YYYY-MM-DD')}

  #progress
    span#progress-value &#x1F815;

footer.footer
  .foot-container
    .foot-row
      .footer-col
        h4 Trụ sở
        ul
          li
            p Tầng 10, tòa nhà B , Lê Văn Lương complex, số 10 Lê Văn Lương, p.Yên Nghĩa, quận Hà Đông, Hà Nội.
      .footer-col
        h4 Chịu trách nhiệm nội dung
        ul
          li
            p Ông : Nguyễn Văn An
      .footer-col
        h4 Liên hệ
        ul
          li
            p
              i.fa-solid.fa-phone  
              |  Điện thoại: 024.629186868
          li
            p
              i.fa-solid.fa-envelope
              |  Email: contact.bao@gmail.com.vn
      .footer-col
        h4 Theo dõi chúng tôi
        .social-links
          a(href='https://www.facebook.com/' target="_blank")
            i.fab.fa-facebook-f
          a(href='https://twitter.com/' target="_blank")
            i.fab.fa-twitter
          a(href='https://www.instagram.com/' target="_blank")
            i.fab.fa-instagram
          a(href='https://github.com/' target="_blank")
            i.fab.fa-github


script(type="module", src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js") 
script(nomodule, src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
script(src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous")
script(src="https://kit.fontawesome.com/827ba881c6.js" crossorigin="anonymous")
script(src="/js/main.js")