mixin news-event 
    a(href="").news
        img(src="https://source.unsplash.com/random", alt="").news-image
        h3.news-title WeChat: Why does Elon Musk want X to emulate China's everything-app?
        .news-item 
            img(src="../images/logo-phenikaa.png", alt="logo phenikaa").name-university 
            span.news-time 15 minutes ago

mixin latest-news 
    a(href="").latestNews 
        img(src="https://source.unsplash.com/random", alt="").news-image
        h3.news-title WeChat: Why does Elon Musk want X to emulate China's everything-app?
        .news-item 
            img(src="../images/logo-phenikaa.png", alt="logo phenikaa").name-university 
            span.news-time 15 minutes ago

mixin news-addmisions
    a(href="").news-addmisions
        img(src="https://source.unsplash.com/random", alt="").news-image
        h3.news-title WeChat: Why does Elon Musk want X to emulate China's everything-app?
        .news-item 
            img(src="../images/logo-phenikaa.png", alt="").name-university 
            span.news-time 15 minutes ago

mixin news-technology
    a(href="").news-technology
        img(src="https://source.unsplash.com/random", alt="").news-image
        h3.news-title WeChat: Why does Elon Musk want X to emulate China's everything-app?
        .news-item 
            img(src="../images/logo-phenikaa.png", alt="").name-university 
            span.news-time 15 minutes ago

//- page
mixin newsEvent
    a(href="").newsEvent
        img(src="https://source.unsplash.com/random", alt="").news-image
        h3.news-title WeChat: Why does Elon Musk want X to emulate China's everything-app?
        .news-item 
            img(src="../images/logo-phenikaa.png", alt="").name-university  
            span.news-time 15 minutes ago

mixin newsTechnology
    a(href="").newsTechnology
        img(src="https://source.unsplash.com/random", alt="").news-image
        h3.news-title WeChat: Why does Elon Musk want X to emulate China's everything-app?
        .news-item 
            img(src="../images/logo-phenikaa.png", alt="").name-university 
            span.news-time 15 minutes ago

mixin newsAddmisions
    a(href="").newsAddmisions
        img(src="https://source.unsplash.com/random", alt="").news-image
        h3.news-title WeChat: Why does Elon Musk want X to emulate China's everything-app?
        .news-item 
            img(src="../images/logo-phenikaa.png", alt="").name-university  
            span.news-time 15 minutes ago